.extended-markdown-table {
    display: grid;
}

.extended-markdown-table > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 20px;
    border-bottom: 1px solid var(--table-border-color);
    border-right: 1px solid var(--table-border-color);
}

.extended-markdown-table > div.extended-markdown-left-border {
    border-left: 1px solid var(--table-border-color);
}

.extended-markdown-table > div.extended-markdown-header {
    text-align: center;
    background: var(--table-header-bg);
    border-bottom: 1px solid var(--table-header-bg);
    border-right: 1px solid var(--table-header-bg);
    font-weight: bold;
}

.extended-markdown-table > div.extended-markdown-header.extended-markdown-left-border {
    border-left: 1px solid var(--table-header-bg);
}
